<div class="d-flex justify-content-between">
  {{!-- Create btn --}}
  <a class="btn btn-outline-secondary mx-2 mt-3 mb-3" href="/todos/new">Create</a>
  
  {{!-- sort the todos by deadline --}}
  <div class="dropdown col d-grid gap-2 mx-2 mt-3 mb-3" style="max-width:fit-content;">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      Month
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each deadlineMonth}}
      <li><a class="dropdown-item" href="/todos/deadline/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>

{{!-- Get todos(array) from app.js('/')'s routing (Show all todos on index page)--}}
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row justify-content-between">
      <div class="col-auto mr-auto">
        <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}}
          disabled>
        <h4 style="display: inline; vertical-align: middle;">{{this.name}}</h4>
      </div>
      <div class="col-auto">
        <h4 style="display: inline; vertical-align: middle; font-weight: bolder; color: #FF5F5D" class="mx-5"><span style="color: black; font-weight: normal;">Deadline: </span>{{this.dueDate}}</h4>
        <a class="btn btn-secondary" href="/todos/{{this.id}}">Detail</a>
        <a class="btn btn-success" href="/todos/{{this.id}}/edit">Edit</a>
        <form action="/todos/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>